@model CursoMVC.Models.ViewModels.EditUsuarioViewModel
@{
    ViewBag.Title = "Modificar";
}

<h2>Modificar</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Editar", "Usuarios", FormMethod.Post, new { @class = "" }))
        {
            //id
            @Html.HiddenFor(d => d.Id)
            //@Html.AntiForgeryToken() //crea un token interno seguridad
            @Html.ValidationMessage("error", new { @class = "text-danger" }) //si hay algun error
            <div style="margin-bottom:1em;">
                @Html.LabelFor(d => d.Email)
                @Html.TextBoxFor(d => d.Email, new { @class = "form-control" })
                @Html.ValidationMessage("Email", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(d => d.Password)
                @Html.PasswordFor(d => d.Password, new { @class = "form-control" })
                @Html.ValidationMessage("Password", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(d => d.CPassword)
                @Html.PasswordFor(d => d.CPassword, new { @class = "form-control" })
                @Html.ValidationMessage("CPassword", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(d => d.Edad)
                @Html.TextBoxFor(d => d.Edad, new { @class = "form-control" })
                @Html.ValidationMessage("Edad", new { @class = "text-danger" })
            </div>
            <div style="text-align:right">
                <input type="submit" class="btn btn-primary" value="Modificar" />
            </div>
        }
    </div>
</div>